body{
    background-image: url("https://cdn.pixabay.com/photo/2015/07/09/22/45/tree-838667_960_720.jpg");
    background-repeat: no-repeat;
    width:100%;
    background-size: cover;
    
    
    
}
ul{
    /* float: left; */
    display:flex;
    justify-content: center;
    align-items: center;
}
ul li{

    margin-left:60px ;
    margin-top: 27px;
    font-size: 25px;
}
ul li a{
    text-decoration: none;
    color: white;
    font-family: 'Times New Roman';
}
ul li a:hover{
    background-color:orange ;
    
}

h2{
    text-align: center;
    font-family: 'Times New Roman';
    margin-top: 100px;
    color:white ;
    font-size: 30px;
}
span{
    color:orange;
}